.App {
  height: 100vh;
  width: 100vw;
}

.welcome-page {
  background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}

.navbar-brand {
  width: 200px;
}

img {
  height: 32px;
}

header {
  height: 100px;
  width: 100%;
}

.nav-container {
  width: 90%;
  height: 40px;
  margin-left: 140px;
  margin-right: 140px;
  display: flex;
  justify-content: space-between;
}

.hamburger {
  height: 50px;
  width: 50px;
  color: white;
  background: transparent;
}

/* @media (max-width: 768px) {
  .welcome-page {
    padding-top: 17rem;
    padding-bottom: 17rem

  }
}

@media (max-width: 480px) {
  .welcome-page {
  }
} */